<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Vue Getting Started</title>
</head>

<body>

    <div id="counter">


        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>

        <p>
            {{message}}
        </p>
        <h1>
            {{message}}
        </h1>

        <br />
        <input v-model="message">

        <div v-if="message.length > 0">
            <button v-on:click="reverseMessage">Reverse Message</button>
        </div>

        <button v-on:click="addListItem">Add Item</button>

    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script type="text/javascript">
        const Counter = {
            data() {
                return {
                    message: 'Hello Vue.js!',
                    todos: [
                        { text: 'Learn JavaScript' },
                        { text: 'Learn Vue' },
                        { text: 'Build something awesome' }
                    ]
                }
            },
            methods: {
                reverseMessage() {
                    this.message = this.message
                        .split('')
                        .reverse()
                        .join('')
                }
            }
        }

        Vue.createApp(Counter).mount('#counter')
    </script>
</body>

</html>
