<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Vue Getting Started</title>
</head>

<body>

    <div id="counter">

        <p>
            {{message}}
        </p>
        <h1>
            {{message}}
        </h1>

        <br />
        <button v-on:click="reverseMessage">Reverse Message</button>

        <div v-if="message.length > 0">
            <input v-model="message">
        </div>

    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script type="text/javascript">
        const Counter = {
            data() {
                return {
                    message: 'Hello Vue.js!'
                }
            },
            methods: {
                reverseMessage() {
                    this.message = this.message
                        .split('')
                        .reverse()
                        .join('')
                }
            }
        }

        Vue.createApp(Counter).mount('#counter')
    </script>
</body>

</html>
